@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");


:root {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  background-image: url('/Pattern.jpg');
  background-size: 400px 400px;
  background-color: rgba(255, 255, 255, 0.5); /* white with transparency */
  background-repeat: repeat;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
/*  COLORES Y TEMA  */

  --color-bg-ans: rgb(248, 252, 255);
  --color-bg-pattern: rgba(154,88,254,0.8);
  --color-bg-buttons: #fdd4ab;
  --color-btn-sides: #fbb97e;
  --color-btn-sides-disabled: #feebd6;
  --color-btn-disabled: #fff6ed;
  --color-btn-hover: #feebd6;
  --scrollbar-thumb: #feebd6;
  --scrollbar-thumb-hover: #e0d4ff;
  --color-Text: #1f1f1f;
}

/* 🌙 Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-ans: #3c266d;
    --color-bg-pattern: rgba(3, 2, 7, 0.9);
    --color-bg-buttons: #25193c;
    --color-btn-sides: #361c6c;
    --color-btn-sides-disabled: #7a45e6;
    --color-btn-disabled: #7a45e6;
    --color-btn-hover: #6b37cb;
    --scrollbar-thumb: #2b1b4b;
    --scrollbar-thumb-hover: #6b37cb;
    --color-Text: #c6c6c6;
  }
}


.backg {
  height: 100vh;
  width: 100vw;

  background-color: var(--color-bg-pattern); /* white with transparency */
  background-blend-mode: multiply;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
} 




body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  height: 100%;
  color: var(--color-Text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  color: var(--color-Text);
}

